@charset "utf-8";

:root {
  --title-text: 40px;
  --lg-text: 24px;
  --mid-text: 20px;
  --reguler-text: 16px;
  --sm-text: 14px;
  --ssm-text: 10px;

  --normal-space: 0.04em;
  --logo-space: 0.2em;

  --bg-color-200: #fff3c9;
  --bg-color-100: #a3845f;

  --text-color-200: #311800;
  --text-color-100: #ffffff;

  --accent-color-100: #ff73ae;

  --weight-reguler: reguler;
}

* {
  letter-spacing: var(--normal-space);
  box-sizing: border-box;
  line-height: 1.5;
}

main,
.h-wrap,
.f-wrap {
  width: min(100% - 80px, 1340px);
  margin-inline: auto;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  padding-block: 100px;
}
a {
  display: block;
  color: var(--text-color-200);
  text-decoration: none;
  line-height: 1.5;
}

img {
  width: 100%;
  object-fit: cover;
}

html {
  background: var(--bg-color-100);
  font-family: 'Noto Serif JP', serif;
  font-size: var(--reguler-text);
  min-height: 2000px;
}
body {
  background: var(--bg-color-200);
}

.en {
  font-family: 'Cormorant Garamond', serif;
  text-transform: capitalize;
}

/*  */
.btn {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 2px;
  background: var(--accent-color-100);
  border-radius: 4px;
  p {
    color: var(--bg-color-200);
  }
  p + p {
    font-size: var(--ssm-text);
  }
}
section .btn {
  width: 250px;
  margin-inline: auto;
}

header {
  width: 100%;
  background: var(--bg-color-100);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.h-wrap {
  display: block flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 14px;
}
.h-wrap #logo {
  font-size: var(--title-text);
  letter-spacing: var(--logo-space);
  color: var(--bg-color-200);
}
.h-wrap nav {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 40px;

  .lg-head-nav {
    display: flex;
    gap: 24px;

    .nav-link {
      display: flex;
      flex-direction: column;
      gap: 2px;
      p {
        width: fit-content;
        margin-inline: auto;
        color: var(--bg-color-200);
        text-transform: capitalize;
      }
      p + p {
        font-size: var(--ssm-text);
      }
    }
  }
}

/* keyvisual */
#keyvisual {
  padding-top: 24px;
  img {
    width: 100%;
    height: 600px;
    background: var(--bg-color-100);
    border-radius: 4px;
  }
}

.sec-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-200);
  h2 {
    font-size: var(--title-text);
  }
  p {
    font-size: var(--ssm-text);
  }
  .line {
    width: 80px;
    height: 1px;
    margin-top: 14px;
    background: linear-gradient(
      90deg,
      transparent,
      var(--text-color-200),
      transparent
    );
  }
}

/* about */
#about p {
  text-align: center;
  line-height: 2.6;
  font-weight: var(--weight-reguler);
}

/* category */
.c-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  gap: 14px;

  li {
    width: 100%;

    .grid-item {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--bg-color-100);
    }
  }
}

/* product */
.p-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, auto));
  gap: 60px 14px;

  margin-bottom: 40px;

  li {
    width: 100%;

    .p-grid-item {
      width: 100%;
      height: 200px;
      background: var(--bg-color-100);
      position: relative;
      border-radius: 4px;

      .item-text {
        width: 80%;
        height: fit-content;
        padding: 14px;
        background: var(--bg-color-200);
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% -50%;
        border-radius: 4px;
        text-align: center;

        &::before,
        &::after {
          content: '';
          width: 8px;
          height: 8px;
          background: transparent;
          position: absolute;
          border-radius: 4px;
        }
        &::before {
          top: 50%;
          left: 0;
          translate: -100% -100%;
          box-shadow: 4px 4px var(--bg-color-200);
        }
        &::after {
          top: 50%;
          right: 0;
          translate: 100% -100%;
          box-shadow: -4px 4px var(--bg-color-200);
        }
      }
    }
  }
}
#product .btn {
  margin-inline: auto;
}

/* contact */

.shops {
  width: min(100%, 900px);
  margin-inline: auto;
  gap: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    aspect-ratio: 4 / 3;
    background: var(--bg-color-100);
    border-radius: 4px;
  }

  .shop-text {
    display: grid;
    grid-template-columns: 1fr;
    padding: 6px 12px;
  }
}

/* news */
.news-items {
  width: min(100%, 900px);
  margin-inline: auto;
  display: grid;
  grid-template-columns: max-content auto 1fr;
  gap: 14px;

  li {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 3;
    .news-item {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: span 3;
      gap: 14px;

      padding: 14px 0;
      border-bottom: 1px solid var(--bg-color-100);
    }
  }
}

.category {
  height: fit-content;
  padding: 4px 1em;
  background: var(--bg-color-100);
  color: var(--bg-color-200);
  text-align: center;

  font-size: calc(var(--sm-text) * 1.2);
  text-transform: capitalize;
}
.date {
  font-size: calc(var(--reguler-text) * 1.2);
}

/* footer */
footer {
  width: 100%;
  background: var(--bg-color-100);
  font-size: var(--sm-text);
  color: var(--bg-color-200);
}

.f-wrap {
  padding: 100px 0;
}
.f-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.f-left {
  display: flex;
  gap: 40px;
}
.f-item {
  width: 200px;
  margin-bottom: 14px;
  color: var(--bg-color-200);
  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: var(--bg-color-200);
  }
}
.f-nav {
  display: flex;
  gap: 40px;
  .f-nav-list li {
    margin-bottom: 14px;
  }
  a {
    color: var(--bg-color-200);
  }
}

.f-right {
  display: grid;

  .logo {
    font-size: var(--title-text);
    margin-bottom: 8px;
    color: var(--bg-color-200);
    text-align: right;
    letter-spacing: var(--logo-space);
  }
  p {
    text-align: right;
    font-size: var(--reguler-text);
  }
  small {
    margin-top: auto;
  }
}
